<ide-main-page [countDownModel]="countDownModel"
(timeFinished)="timeFinished()"
(editorOptionsChangeEvent)="editorOptionsChangeEvent($event)"
 (toggleChangeEvent)="modeToggleChange($event)">
    <form #form="ngForm" (ngSubmit)="form.form.valid && runCode()" novalidate>



        <div class="container h-100 mt-4 mb-50">
            <!-- languages & theme -->
            <div class="row mb-4 justify-content-center mx-4">
                <!-- languages select -->
                <div class="col-auto col-lg-3 col-md-4 col-sm-6">
                    <ide-dropdown [selectedValue]="selectedLangId" [dropDownTitle]="dropDownTitleVar"
                        [dropDataList]="languageModelList" (dropChangedEvent)="dropChanged($event)">
                    </ide-dropdown>
                </div>

                <!-- theme radio buttons -->
                <!-- <div class="col-auto col-lg-3 col-md-4 col-sm-6 max-w-to">
                            <ide-button-toggle [selectedValue]="selectedButtonValue"
                                [buttonToggleList]="buttonModelList" (buttonChangedEvent)="buttonChanged($event)">
                            </ide-button-toggle>

                        </div> -->
            </div>

            <!-- the question -->
            <div *ngIf="currentProblemList" class="row mb-4 justify-content-center mx-4">
                <div class="col-auto col-lg-10 col-md-10 col-sm-10">

                    <ide-code-problem-field #codeProblemComp (nextClickEvent)="nextClick()"
                        (prevClickEvent)="prevClick()" [currentDetail]="currentDetail" (sendClickEvent)="sendClick()"
                        (runClickEvent)="runClick()" (questionCopiedEvent)="questionCopied($event)"
                        [codeProblemList]="currentProblemList">
                    </ide-code-problem-field>

                </div>
            </div>


            <!-- the code editor -->
            <div class="row mb-4">

                <div class="col-md-12">
                    <div class="code-editor" #codeEditor2></div>
                </div>

            </div>


            <table class="button-table">
                <tr>
                    <td class="first">
                        <button mat-fab (click)="clearCode()" color="primary"
                            aria-label="Example icon button with a delete icon" [matTooltip]="'Clear IDE'">
                            <mat-icon>delete_sweep</mat-icon>
                        </button>
                    </td>
                    <td class="second">
                        <button mat-fab (click)="beautifyContent()" color="primary"
                            aria-label="icon button with a format icon" [matTooltip]="'Format Code'">
                            <mat-icon>format_paint</mat-icon>
                        </button>
                    </td>
                    <td class="third">
                        <button [disabled]="!isRestoreButtonVisible()" (click)="getLastSuccededCode()" mat-fab
                            color="primary" aria-label="Example icon button with a delete icon"
                            [matTooltip]="'Get last success'">
                            <mat-icon>restore</mat-icon>
                        </button>
                    </td>
           

                    <td class="last">

                        <button mat-fab (click)="testCode()" aria-label="Example icon button with a delete icon"
                            [matTooltip]="'Run Task'">
                            <mat-icon>play_arrow</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>


           
           

        </div>

    </form>
</ide-main-page>