<ide-main-header></ide-main-header>

<form #form="ngForm" (ngSubmit)="form.valid && runCode()" novalidate>
    <div class="container h-100 mt-4">
        <!-- languages & theme -->
        <div class="row mb-4 justify-content-center mx-4">
            <!-- languages select -->
            <div class="col-auto col-lg-3 col-md-4 col-sm-6">
                <ide-dropdown [selectedValue]="selectedValue" [dropDownTitle]="dropDownTitleVar"
                    [dropDataList]="languageModelList" (dropChangedEvent)="dropChanged($event)">

                </ide-dropdown>
            </div>

            <!-- theme radio buttons -->
            <div class="col-auto col-lg-3 col-md-4 col-sm-6">
                <ide-button-toggle [selectedValue]="selectedButtonValue" [buttonToggleList]="buttonModelList"
                    (buttonChangedEvent)="buttonChanged($event)">
                </ide-button-toggle>

            </div>
        </div>

        <!-- the code editor -->
        <div class="row mb-4">
            <div class="col">
                <div class="code-editor" #codeEditor2></div>
            </div>
        </div>

        <!-- run, clear & beautify buttons -->
        <div class="row mb-4 justify-content-center mx-4">
            <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
                <button type="button" class="btn btn-dark btn-sm btn-block px-4 mx-2" (click)="runCode()">
                    Run
                </button>
            </div>
            <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
                <button type="button" class="btn btn-primary btn-sm btn-block px-4 mx-2" (click)="clearCode()">
                    Clear
                </button>
            </div>
            <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
                <button type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2" (click)="beautifyContent()">
                    Beautify
                </button>
            </div>
        </div>

        <!-- output box -->
        <div class="row mt-4">
            <div class="col">
                <div class="label-box border"><span class="mx-4 font-weight-light">Output</span></div>
                <textarea class="form-control output" [(ngModel)]="textAReaModel" name="outputName" rows="6"
                 disabled="true" aria-label="output-textarea"></textarea>
            </div>
        </div>
    </div>
</form>