div.code-editor { max-height: 70vh; }

div.label-box {
    border-top-left-radius: .5rem!important;
    border-top-right-radius: .5rem!important;
}

.form-control { border-radius: 0 !important; }

.form-control:disabled { background-color: #ffffff !important; }

.output {
    border-bottom-left-radius: .5rem!important;
    border-bottom-right-radius: .5rem!important;
}



.mb-50{
    margin-bottom: 50px;
}


@media only screen and (max-width: 500px) {
    .max-w-to {
      max-width: fit-content !important;
    }
  }


  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  @media only screen and (max-width: 500px) {
    .first, .second, .third .settings-icon { width:30px; }

  }

  @media only screen and (min-width: 501px) {
    .first, .second, .third .settings-icon { width:50px; }

  }
  .button-table { width:100%; }
.settings-icon{
  text-align: center;
}
.last { text-align:right; }
